<div class="god-card">
  <app-avatar [avatar]="god.avatar"></app-avatar>
  <!--
  <div class="god-details">
    <h2 class="god-name">{{ god.name }}</h2>
    <div class="god-description">      
      <h5><strong>Domain: </strong></h5><p>{{ god.domain }}</p>
      <h5><strong>Worshipers: </strong></h5><p>{{ god.worshipers }}</p>
      <h5><strong>Traits: </strong></h5><p>{{ god.sphere.thoughts }}</p>
      <h5><strong>Likes: </strong></h5><p>{{ god.sphere.favorites }}</p>
    </div>
  </div>

  -->
</div>