<div [class]="avatar">
  <div class="background">
    <div>
      <template [ngTemplateOutlet]="structFaceTemplate"></template>
      <template [ngTemplateOutlet]="structHairTemplate"></template>
      <template [ngTemplateOutlet]="structHairTemplate" [ngTemplateOutletContext]="{ angle: '30deg', left: '-20', top: '-115' }"></template>
      <template [ngTemplateOutlet]="structHairTemplate" [ngTemplateOutletContext]="{ angle: '45deg', left: '-25', top: '-250' }"></template>
      <template [ngTemplateOutlet]="structHairTemplate" [ngTemplateOutletContext]="{ angle: '70deg', left: '-25', top: '-375' }"></template>
      <template [ngTemplateOutlet]="structFlippedHairTemplate" [ngTemplateOutletContext]="{ angle: '-10deg', left: '55', top: '-400' }"></template>
      <template [ngTemplateOutlet]="structFlippedHairTemplate" [ngTemplateOutletContext]="{ angle: '-40deg', left: '80', top: '-515' }"></template>
      <template [ngTemplateOutlet]="structFlippedHairTemplate" [ngTemplateOutletContext]="{ angle: '-55deg', left: '85', top: '-650' }"></template>
      <template [ngTemplateOutlet]="structFlippedHairTemplate" [ngTemplateOutletContext]="{ angle: '-70deg', left: '70', top: '-775' }"></template>
    </div>
  </div>
  <div class="row">
    <h1><strong>Copperface</strong></h1>
  </div>
</div>
  
<ng-template #structHairTemplate let-angle="angle" let-left="left" let-top="top">
  <div class="hair" 
  [style.transform]="'rotate(' + angle + ')'" 
  [style.left]="left + 'px'"
  [style.top]="top + 'px'"
  >
    <div class="poly1"></div>
    <div class="poly2"></div>
    <div class="poly3"></div>
    <div class="poly4"></div>
  </div>
</ng-template>

<ng-template #structFlippedHairTemplate let-angle="angle" let-left="left" let-top="top">
  <div class="hair" 
  [style.transform]="'rotate(' + angle + ')' + 'scaleX(-1)'" 
  [style.left]="left + 'px'"
  [style.top]="top + 'px'"
  >
    <div class="poly1"></div>
    <div class="poly2"></div>
    <div class="poly3"></div>
    <div class="poly4"></div>
  </div>
</ng-template>

<ng-template #structFaceTemplate>
  <div class="head">
    <div class="face">
      <div class="eye1"></div>
      <div class="eye2"></div>
      <div class="mouth"></div>
    </div>
  </div>
</ng-template>