.background{
  width: 150px;
  height: 100px;
  display: flex;
  justify-content: center;
}

/* copperface */
.copperface .background{
  background-color: #c3c3c3;
}

.copperface .hair{
  display: block;
  position: relative;
  width: 100px; 
  height: 100px;
}

.copperface .poly1,
.copperface .poly2,
.copperface .poly3,
.copperface .poly4
{
  position: relative;
  left: 15%;
  bottom: 2%;
}

.copperface .poly1{
  clip-path: polygon(50% 0%, 55% 65%, 0% 5%);
  background-color: #2218ad;
  width: 30px;
  height: 25px;
}
.copperface .poly2{
  clip-path: polygon(45% 0%, 85% 49%, 10% 75%);
  background-color: #473be9;
  width: 29px;
  height: 22px;
  left: 2%;
  top: -26px;
}

.copperface .poly3{
  clip-path: polygon(10% 10%, 100% 0%, 10% 75%);
  background-color: #3b5be9;
  width: 10px;
  height: 22px;
  bottom: 34%;
  left: 4%;
}

.copperface .poly4{
  border-radius: 50%;
  background-color: #b87333;
  width: 10px;
  height: 10px;
  bottom: 40%;
  left: 1%;
}

.copperface .head{
  position: relative;
  top: 25%;
  left: 26%;
  border-radius: 50%;
  background-color: #b87333;
  width: 50px;
  height: 50px;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: rotateAnimation 20s linear infinite;
}

.copperface .face{
  border-radius: 50%;
  border: solid 1.5px #000000;
  background-color: #e09248c2;
  width: 40px;
  height: 40px;
  z-index: 1;
}
.copperface .eye1{
  clip-path: polygon(0% 0%, 10% 0%, 10% 55%, 40% 55%, 40% 35%, 20% 35%, 20% 25%, 50% 25%, 50% 65%, 0% 65%);
  background-color: #000000;
  width: 20px;
  height: 20px;
  position: relative;
  left: 40%;
  z-index: 1;
}
.copperface .eye2{
  clip-path: polygon(0% 0%, 10% 0%, 10% 55%, 40% 55%, 40% 35%, 20% 35%, 20% 25%, 50% 25%, 50% 65%, 0% 65%);
  transform: rotate(-135deg);
  background-color: #000000;
  width: 20px;
  height: 20px;
  position: relative;
  right: 7%;
  bottom: 20%;
  z-index: 1;
}
.copperface .mouth{
  clip-path: polygon(0% 0%, 10% 0%, 10% 55%, 40% 55%, 40% 35%, 20% 35%, 20% 25%, 50% 25%, 50% 65%, 0% 65%);
  background-color: #000000;
  transform: rotate(+135deg);
  width: 20px;
  height: 20px;
  position: relative;
  left: 40%;
  bottom: 55%;
  z-index: 1;
}

@keyframes rotateAnimation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}