.background{
  width: 400px;
  height: 300px;
  display: flex;
  justify-content: center;
}

/* copperface */
.copperface .background{
  background-color: #b1cdda;
}

.copperface .hair{
  display: block;
  position: relative;
  width: 100px; 
  height: 100px;
}

.copperface .poly1,
.copperface .poly2,
.copperface .poly3,
.copperface .poly4
{
  position: relative;
  left: -40%;
}

.copperface .poly1{
  clip-path: polygon(50% 0%, 85% 65%, 0% 10%);
  background-color: #5218FA;
  width: 80px;
  height: 70px;
}
.copperface .poly2{
  clip-path: polygon(45% 0%, 85% 27%, 10% 75%);
  background-color: #0190EE;
  width: 80px;
  height: 70px;
  bottom: 63%;
  left: -75%;
}

.copperface .poly3{
  clip-path: polygon(10% 30%, 100% 0%, 10% 100%);
  background-color: #446CCF;
  width: 30px;
  height: 50px;
  bottom: 96%;
  left: -69%;
}

.copperface .poly4{
  border-radius: 50%;
  background-color: #CE7C56;
  width: 20px;
  height: 20px;
  bottom: 96%;
  left: -75%;
}

.copperface .head{
  position: relative;
  top: 20%;
  border-radius: 50%;
  background-color: #cc8d67;
  width: 150px;
  height: 150px;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: rotateAnimation 60s linear infinite;
}

.copperface .face{
  border-radius: 50%;
  border: solid 3px #71d4cc ;
  background-color: #CE7C56;
  width: 130px;
  height: 130px;
  z-index: 1;
}
.copperface .eye1{
  clip-path: polygon(0% 0%, 10% 0%, 10% 55%, 40% 55%, 40% 35%, 20% 35%, 20% 25%, 50% 25%, 50% 65%, 0% 65%);
  background-color: #71d4cc ;
  width: 65px;
  height: 65px;
  position: relative;
  left: 40%;
  z-index: 1;
}
.copperface .eye2{
  clip-path: polygon(0% 0%, 10% 0%, 10% 55%, 40% 55%, 40% 35%, 20% 35%, 20% 25%, 50% 25%, 50% 65%, 0% 65%);
  transform: rotate(-135deg);
  background-color: #71d4cc ;
  width: 65px;
  height: 65px;
  position: relative;
  right: 7%;
  bottom: 20%;
  z-index: 1;
}
.copperface .mouth{
  clip-path: polygon(0% 0%, 10% 0%, 10% 55%, 40% 55%, 40% 35%, 20% 35%, 20% 25%, 50% 25%, 50% 65%, 0% 65%);
  background-color: #71d4cc ;
  transform: rotate(+135deg);
  width: 65px;
  height: 65px;
  position: relative;
  left: 40%;
  bottom: 55%;
  z-index: 1;
}

@keyframes rotateAnimation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}